<!--Citation for main.hbs:
Date: 05/17/2024
Copied step 3 from nodejs-starter-app
Authors (github username): gkochera, Cortona1, currym-osu, dmgs11
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wandering Words</title>
</head>
<body>

    {{{body}}}
    

</body>
</html>