{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.authorID}}</td>
            <td>{{this.authorFirstName}}</td>
            <td>{{this.authorLastName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<!-- /views/authors.hbs -->
<h2>Add a new Author</h2>
<p>To add a new author, please enter its information below and click `Submit`!</p>
<form id="add-author-form" method="POST" action="/add-author-form">
    <label for="input-authorFirstName">First name: </label>
    <input type="text" name="input-authorFirstName" id="input-authorFirstName">
    
    <label for="input-authorLastName">Last name: </label>
    <input type="text" name="input-authorLastName" id="input-authorLastName">

    <input type="submit">
</form>